@model EmployeeLibrary.Model.UserRole
@using EmployeeLibrary.Model
@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Create</h1>

<h4>UserRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                @{
                    var users = ViewData["userid"] as List<User>;
                }
              <select asp-for="UserId" class="form-control" required>
                    <option value="" disabled selected>Select a User</option>
                    @foreach (var i in users)
                    {
                        <option value="@i.UserId">@i.FirstName @i.LastName</option>

                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Role</label>
                @{
                    var roles = ViewData["roleid"] as List<Role>;
                }
                <select asp-for="RoleId" class="form-control custom-select" required>
                    <option value="" disabled selected>Select a Role</option>
                    @foreach (var i in roles)
                    {
                        <option value="@i.RoleId">@i.RoleName</option>

                    }
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary me-2" asp-area="" asp-action="Index">Back to Index</a>

            </div>
        </form>
    </div>
</div>


