@model IEnumerable<EmployeeLibrary.Model.Attendance>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Index</h1>
@{
    var SuccessCheckIn=TempData["SuccessCheckIn"] as bool?;
    var SuccessCheckOut = TempData["SuccessCheckOut"] as bool?;
}
<p>
    <a class="btn btn-primary me-2" asp-area="" asp-action="Create">Create New</a>
    @if(SuccessCheckIn.HasValue && SuccessCheckIn.Value)
    {
        <a class="btn btn-primary me-2" asp-area="" asp-action="CheckOut" asp-controller="Attendance">CheckOut</a>

    }
    else
    {
        <a class="btn btn-primary me-2" asp-area="" asp-action="CheckIn" asp-controller="Attendance">CheckIn</a>

    }    
    <button type="button" class="btn btn-primary me-2" onclick="location.href='@Url.Action("GetDateFromUser_", "Attendance")'">User Attendance By Date</button>
    <button type="button" class="btn btn-primary me-2" onclick="location.href='@Url.Action("GetMonth", "Attendance")'">User Attendance By Month</button>
    <button type="button" class="btn btn-primary me-2" onclick="location.href='@Url.Action("GetMonthAndUser", "Attendance")'">One User Attendance By Month</button>

</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingHours)
            </td>
            <td>
                    
                    @Html.ActionLink("Edit", "Edit", new { id = item.AttendanceId }, new { @class = "btn btn-sm btn-outline-primary me-2", title = "Edit" })
                    <img src="~/Images/icons8-edit.gif" alt="Edit" style="width: 20px; height: 20px;">
                    @Html.ActionLink("Details", "Details", new { id = item.AttendanceId }, new { @class = "btn btn-sm btn-outline-info me-2", title = "Details" })
                    <img src="~/Images/detailsgif.gif" alt="Details" style="width: 20px; height: 20px;">
                    @Html.ActionLink("Delete", "Delete", new { id = item.AttendanceId }, new { @class = "btn btn-sm btn-outline-danger me-2", title = "Delete" })
                    <img src="~/Images/delete.gif" alt="Delete" style="width: 20px; height: 20px;">
                    
            </td>
            
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary me-2" asp-area="" asp-controller="HomeIndexAdmin" asp-action="Index">Back to Home</a>

