@model IEnumerable<EmployeeLibrary.Model.Role>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Index</h1>
<p>
    <a class="btn btn-primary me-2" asp-area="" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleSalary)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleSalary)
                </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { roleid = item.RoleId }, new { @class = "btn btn-sm btn-outline-primary me-2", title = "Edit" })
                    <img src="~/Images/icons8-edit.gif" alt="Edit" style="width: 20px; height: 20px;">
                    @Html.ActionLink("Details", "Details", new { id = item.RoleId }, new { @class = "btn btn-sm btn-outline-info me-2", title = "Details" })
                    <img src="~/Images/detailsgif.gif" alt="Details" style="width: 20px; height: 20px;">
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleId }, new { @class = "btn btn-sm btn-outline-danger me-2", title = "Delete" })
                    <img src="~/Images/delete.gif" alt="Delete" style="width: 20px; height: 20px;">
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary me-2" asp-area="" asp-controller="HomeIndexAdmin" asp-action="Index">Back to Home</a>

